# --- DATOS  ---
# Se ignoran TODOS LOS DATOS, tanto preprocesados como originales
data/
*.mp4
*.wav
*.zip
*.tar.gz
#Ignoramos directorio con pesos:
pesos/
# Se ignoran también pruebas:
resultados/prueba_ELIMINAR/
ELIMINAR_*.ipynb
ELIMINAR_*.py

#--- EMBEDDINGS Y MODELOS (>10GB que están en Drive) ---
*.npy
*.pt
*.pth


# --- PYTHON ---
# Se ignora archivos compilados
__pycache__/
*.py[cod]
*$py.class

# --- JUPYTER NOTEBOOKS ---
# Se ignoran archivos de autoguardado 
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- SISTEMA OPERATIVO ---
# Se ignora archivos de sistema operativo
.DS_Store # macOS
Thumbs.db # Windows
desktop.ini  # Windows

# --- CONFIGURACIÓN Y SECRETOS ---
.env
.vscode/